body {
  margin:0px;
}

.navbar {
  background-color: #D2B48C;
  font-family: "Poiret One";
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 0.3px 9px gray;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
  
}

.navbar li {
  padding: 0px 20px;
  font-size: 18px;
}

.navbar a {
  color: white;
  text-decoration: none;
}


.projects {
  /*background-color: blue;*/
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  border-radius: 5%;

}

.box {
  vertical-align: middle;
  position: absolute;
  /* width: 600px; */
  /* height: 400px; */
  transform: translate(55%, 10%);
  /* padding: 50px; */
  margin: 70px;
  border: 1px solid black;
  border-radius: 1%;
}

.columnforbuttons {
  float: left;
  width: 25%;
  height: 350px;
  /* background-color:blue; */
  /* border-color: red; */
}

.column {
  float: left;
  width: 50%;
  height: 350px;
}

.column>img{
  width:50%;
  height:50%;
  position:absolute;
  border-radius: 1%;
}

img:hover{
  opacity:0.8;
  text-align: center;
}

.next {
  border-color:transparent;
  font-size: 50px;
  font-weight: lighter;
}
.previous {
  border-color:transparent;
  font-size: 50px;
  font-weight: lighter;
}

.next{
  outline: none;
}

.previous{
  outline:none;
}
