body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #EDEDE9;
  color: #405837;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.main-nav {
  width: 100vh;
  height: 45px;
  position: fixed;
  padding-top: 10px;
  transform-origin: left top;
  display: flex;
  transform: rotate(-90deg) translateX(-100%);
}

.links {
  display: flex;
  justify-content: space-between;
  width: 10%;
  position: static;
  position: absolute;
  top: 55vh;
  left: 30vw;
}

.links a {
  color: inherit;
}

ul.nav li {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  color: inherit;
  line-height: 45px;
}

.right-nav ul li {
  font-size: 25px;
  transform: rotate(90deg);
}

ul.nav a {
  text-decoration: none;
  color: inherit;
}

ul.nav a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 0.7px;
}

/* ENDING NAVBAR */

/* PROJECT SECTION */
#projects {
  padding: 8%;
  width: 100vw;
}

#projects h2{
  margin: 15px;
  font-weight: bold;
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
}

#projects img:hover {
  opacity: 0.8;
  text-align: center;
}

.projectCards {
  margin: 0% 2% 2% 0%;
  width: 30%;
}

.projectCards img,
iframe {
  height: 100%;
  width: 100%;
  border-radius: 1%;
}

.projectCards h4 a {
  text-decoration: none;
  color: #405837;
}

/* HOME SECTION */
#home {
  height: 100vh;
  width: 100vw;
  /* display: flexbox; */
}

.bottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35vh;
  left: 30vw;
  color: #405837;
}

.bottom p:nth-child(1) {
  font-size: 2vw;
}

.bottom p:nth-child(2) {
  font-size: 5vw;
}

.typing {
  position: relative;
}

.typing::after {
  content: "";
  border-right: 3px solid #405837;
  height: 500px;
  padding-right: 3px;
  animation: blink 1.3s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a#scroll-btn {
  position: absolute;
  /* opacity: 0; */
  height: 2em;
  width: 1.2em;
  border: 0.5em solid #405837;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10%;
  border-radius: 2em;
  border-width: 0.1em;
  -webkit-transition: opacity 2s 5s;
  transition: opacity 2s 5s;
}

a#scroll-btn::before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 3px;
  height: 0.3em;
  width: 0.3em;
  background-color: #405837;
  border-radius: 50%;
  border-width: 0.1em;
  animation: move-down 2s infinite;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0.7em);
    opacity: 0;
  }
}

a#scroll-btn:after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 12em;
  font-size: 11px;
  display: block;
  text-align: center;
  left: -5.2em;
  bottom: -2.5em;
}

/* ABOUT SECTION */
#about {
  padding: 8%;
  display: flex;
  width: 100vw;
}

#about img {
  width: 400px;
  height: 500px;
  border-radius: 17px;
  margin: 30px;
}

.aboutTopDiv {
  margin: 30px;
}

.aboutTopDiv p {
  font-size: 15px;
  font-weight: 400;
}

/* ABOUT PAGE TABS */

.tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  width: 50%;
}

.tabName {
  cursor: pointer;
  position: relative;
}

.tabName::after {
  content: '';
  width: 0px;
  height: 3px;
  left: 0px;
  position: absolute;
  background: #cf684f;
  bottom: -7px;
  transition: 0.5s;
}

.tabName.active-link::after {
  width: 50%;
}

.tab-content {
  margin-top: 10px;
}

.tab-content ul {
  list-style-type: none;
  padding: 0px;
  font-size: 15px;
}

.tab-content .subDiv {
  color: #cf684f;
  font-size: 12px;
}

#skills,
#education {
  display: none;
}

#skills ul {
  font-size: 4vw;
  display: flex;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}

#skills ul li {
  margin-right: 0px 30px 15px 0x;
}

/* JS SCROLLING EFFECTS */

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.show {
  opacity: 1;
}

/* FOOTER */
.footer {
  bottom: 0;
  text-align: center;
}

div.footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

div.footer p {
  display: inline-block;
}

a.hoverLine:hover {
  text-decoration: line-through;
  text-decoration-thickness: 0.7px;
}

@media screen and (max-width: 1040px) {
  #about {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {

  .bottom,
  .links {
    left: 90px;
  }

  #home p:nth-child(1) {
    font-size: 100%;
  }

  #home p:nth-child(2) {
    font-size: 300%;
  }

  #about div:nth-child(1),
  #projects .container {
    display: flex;
    justify-content: center;
  }

  #about img {
    height: 80%;
    width: 70%;
  }

  .projectCards {
    width: 80%;
    height: 200px;
    margin-bottom: 10px;
  }

  .footer p {
    font-size: 12px;
  }
}